<%- include('../partials/header') %>

<h1>Student Engagement</h1>
<table class="table">
  <tr>
    <th>Student</th>
    <th>Notes Taken</th>
    <th>Interested Colleges</th>
  </tr>

  <% data.forEach(row => { %>
  <tr>
    <td>
      <a href="/admin/students/<%= row.student._id %>">
      <%= row.student.name %>
      </a>
    </td>
    <td><%= row.visitCount %></td>
    <td>
      <% row.interested.forEach(v => { %>
      <span class="tag">
      <%= v.college.name %>
      </span>
      <% }) %>
    </td>
  </tr>
  <% }) %>
</table>

<%- include('../partials/footer') %>