<%- include('../partials/header') %>

<h1><%= student.name %></h1>
<table class="table">
  <tr>
    <th>College</th>
    <th>Interested</th>
    <th>Notes</th>
  </tr>
  <% visits.forEach(v => { %>
  <tr>
    <td><%= v.college.name %></td>
    <td>
      <% if (v.interested) { %>
      ⭐
      <% } %>
    </td>
    <td><%= v.notes %></td>
  </tr>
  <% }) %>
</table>

<%- include('../partials/footer') %>