<%- include('../partials/header') %>

<h1>My College Visits</h1>

<p class="subtitle">
Here are the colleges you have visited and your notes.
</p>

<% if (visits.length === 0) { %>
  <div class="card">
  You haven't added notes for any colleges yet.
  </div>

<% } else { %>
  <table class="table">
    <tr>
      <th>College</th>
      <th>Interested</th>
      <th>Notes</th>
    </tr>

    <% visits.forEach(v => { %>
    <tr>
      <td>
        <a href="/student/college/<%= v.college._id %>">
        <%= v.college.name %>
        </a>
      </td>
      <td>
        <% if (v.interested) { %>
        ⭐
        <% } else { %>
        —
        <% } %>
      </td>
      <td><%= v.notes || "No notes" %></td>
    </tr>
    <% }) %>
  </table>
<% } %>

<%- include('../partials/footer') %>